.dynamics-container{
    height: 50vh;
}
.parent{
    /* border: 1px solid red; */
    position: absolute;
    left: 32vw;
    /* top: 50em; */
    width: 35em;
    /* height: 15em; */
    text-align: center;
    margin-top: 6em;
}
#p2{
    color: rgba(34, 73, 90, 1);
    /* display: flex; */
    text-align: justify;
}

@media only screen and (width<=720px){
    .dynamics-container{
        width: 100vw;
    }
    .parent{
        /* top: 52em; */
        left: 2em;
        width: 20em;
    }

}