#bgp {
    background: url(../../assets/images/gp.png) no-repeat center center;
    background-size: cover;
    overflow : hidden
  }
  img.bg {
    height: 100vh;
    min-width: 760px;
  
    width: 100%;
  
    position: sticky;
    top: 0;
    left: 0;
  }
  
  @media screen and (max-width: 760px) {
    img.bg {
      left: 50%;
      margin-left: -512px;
    }
  }
  
  @media screen and (max-width: 760px) {
    .row {
      padding-top: 10rem;
      padding-left: 2rem;
    }
  }
  @media screen and (min-width: 760px) {
    .row {
      padding-top: 19rem;
      padding-bottom: 10rem;
      padding-left: 5rem;
    }
  }