.vandm-container{
    /* border:1px solid black; */
    height: 60vh;
    display: flex;
    flex-direction: row;
    color: white;
}
.vision-container{
    background-color: rgba(253, 101, 45, 1);
    opacity: 0.8;
    width: 50vw;
    height: 60vh;
    text-align: center;
}
.mission-container{
    width: 50vw;
    height: 60vh;
    background-color: rgba(255, 152, 13, 1);
    text-align: center;
    opacity: 0.8;
}
.vcontent{
    /* border: 1px solid black; */
    position: relative;
    top: 15vh;
    left: 10em;
    width: 30em;
    /* margin-top: 25vh; */
}
#h3{
    color: white;
}

@media only screen and (width<=720px){
    .vandm-container{
        flex-direction: column;
        height: 100vh;
    }
    .vision-container{
        width: 100vw;
        /* height: 80vh; */
    }
    .mission-container{
        width: 100vw;
    }
    .vcontent{
        left: 2em;
        top: 2em;
        width: 20em;
    }

}