/* .container{
    position: absolute;
    top: 10%;
    left: 23%;
    width: 50%;
    } */
    
    .text{
       
        /* width: 100%; */
        /* padding-left: 30px; */
        /* display: inline;
         margin: 0; 
         font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        color: #444444;
        text-align: justify; 
        font-size: 30px; */
      }

  /* padding-left: 30px;
       
  font-size: 1.5vw;

  letter-spacing: 0.005em; */
  
  .para{
    /* text-align: center; */
    /* padding: 16px;
    padding-left: 3px; */
     /*padding-right: 40px; */
  }
        .read-or-hide{
          color: blue;  
         /* color: #444444; */
        cursor: pointer;
        }
        