.speakersPage {
  width: 98.75vw;
  /* margin: 0 0; */
  /* margin-top: 8rem; */
}
.backimgspeaker{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  width: 98.75vw;
  height: 100%;
  filter: brightness(50%);
}
.Speaker-Wrapper{
    margin: 0px;
    padding-top: 100px;
    padding-bottom: 5vh;

    position: relative;
  
}
/* .headingSpeaker{
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 40px;
  
}

.headingSpeaker h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 3.625vw;
  line-height: 126.19%;
  
  color: #22495A;
}

.headingSpeaker p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 126.19%;
 
  margin-bottom: 4vw;
  letter-spacing: 0.04em;
  color: #aaaaaa;
}

@media only screen and (max-width:993px){
  .headingSpeaker h1{
    font-size: 60px;
  }
} */