.speaker {
  display: flex;
}

.image {
  height: 30rem;
  width: 30rem;
}

.image img {
  width: 100%;
}

.left1 {
  order: 1;
  position: relative;
}

.title1 {
  padding: 0.5rem 1rem;
  position: absolute;
  top: 16%;
  right: 85%;
  background: #ffffff;
  box-shadow: 4px 4px 8px rgb(102 58 163 / 25%);
  border-radius: 10px;
  width: 130%;
}

.title1 h1 {
  text-align: end;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 1000;
  font-size: 2.3rem;
  /* line-height: 49px; */
  letter-spacing: 0.005em;
  color: #444444;
}

.title1 p {
  text-align: end;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.7rem;
  /* line-height: 17px; */
  letter-spacing: 0.005em;
  color: #888888;
}

.whitespace {
  height: 40%;
}

.para {
  /* height: 17rem; */
  height: 52%;
  padding: 1rem;
  background: #fafafa;
  box-shadow: 3px 3px 8px rgba(102, 58, 163, 0.12);
  border-radius: 10px;
}

.para p {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  /* line-height: 28px; */
  /* or 140% */
  text-align: justify;
  letter-spacing: 0.005em;
  color: #444444;
}
