.single-event-container{
    background: none;
    height : 15rem;
    width: 100%;
    margin-top:3rem;
    margin-bottom: 3rem;
    margin-left:2rem
}

.content-container{
    position: relative;
    z-index: 100;
}

.single-event-heading{
    position: absolute;
    left : -2rem;
    width:50%;
    box-shadow: 2px 2px 6px rgba(102, 58, 163, 0.12);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #222222;
}

.single-event-heading-right{
    position: absolute;
    right : -2rem;
    width:50%;
    box-shadow: 2px 2px 6px rgba(102, 58, 163, 0.12);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #222222;
}

.single-event-description-right{
    position: absolute;
    right : 2rem;
    bottom: -1.5rem;
    box-shadow: -3px -3px 8px 3px rgba(255, 255, 255, 0.8), 2px 2px 7px rgba(102, 58, 163, 0.12);
    border-radius : 10px;
    padding: 1rem;
}

.single-event-description{
    position: absolute;
    left : 2rem;
    bottom: -1.5rem;
    box-shadow: -3px -3px 8px 3px rgba(255, 255, 255, 0.8), 2px 2px 7px rgba(102, 58, 163, 0.12);
    border-radius : 10px;
    padding: 1rem;
}

.image-container{
    border-radius : 10px
}

.rulebook a{
    color: #663AA3;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: justify;
    text-decoration-line: underline;
}

.prize-worth{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.3rem;
    text-align: justify;
    color: #222222;
}

.amount{
    color: #663AA3;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.5rem;
    text-align: justify;
   
}

.description-content{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: justify;

    color: #222222;
}

.case-study-link a{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1rem;
    text-decoration-line: underline;

    color: #663AA3;

  }

  .case-study-link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1rem;
    text-decoration-line: underline;

    color: #663AA3;

  }
  