/* header */
.th-header {
  margin-bottom: 0px;
  z-index: 1000;
  top: 0;
  position: sticky;
  width: 100%;
  padding: 10px 0;
  transition: all ease 0.5s;
  background:#101010;
  border-bottom: 3px solid gray;
  margin-bottom: 0px;
  
  
}
.gradient{
  
}

.th-header-bg {
  background:#101010;
  box-shadow: 0 0 10px 0 rgb(50 50 50 / 50%);
  /* padding: 12px 24px;
  transition: all ease 0.5s; */
  margin-bottom: 0px;
}

  .th-header-logo,
  .th-nss-logo {
    width: 70px;
    border-radius: 50%;

  }

  .navmar{
    margin-left:2rem !important;
  }

  .th-nss{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 18.5px;
    color:White;
  }

  .th-header-new{
    display: inline-block;
    width: 24px;
    position: absolute;
    left: 144px;
    line-height: 20px;
    font-size: 22px;
  }

  .summit_date{
     color: #8FEFE9;
     position: absolute;
     left: 130px;
     top: 66px;
  }
  .th-clg-name {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #181818;
  }
  .b1234{
    box-sizing: border-box;
    color: #ffffff;
    font-family: Mulish;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 15px;
gap: 8px;



/* CP/Orange */

background: linear-gradient(94deg, #5AB8BD 22.96%, #35A89B 98.15%);;
/* CP/Orange */

border: 1px solid #5AB9BE;
/* drop-shadow/button-primary */

box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
border-radius: 2px;
  }

  .th-nss1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #181818;
  }

  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .th-header-logo {
      width: 60px;
    }
    .th-nss,
    .th-clg-name {
      font-size: 16px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .th-header {
      padding: 16px 0;
    }

    .th-header-bg {
      padding: 8px 0;
    }

    .th-header-logo {
      width: 55px;
    }
    .th-nss,
    .th-clg-name {
      font-size: 12px;
    }
  }
  .navbar1{
    position: "absolute";
     margin-left: 19vw;
  }

  @media only screen and (max-width: 992px) {
    .navbar1 {
      display: none !important;
    }
    .th-sidebar-list-item1{
      margin-top: 70px;
      justify-content:center ;
    }
    .button-mob{
      display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 32px;
gap: 8px;
font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

color: orangered;

/* CP/White */

background: #FCFCFC;
/* CP/White */

border: 2px  solid #FCFCFC;
/* drop-shadow/button-primary */

box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
border-radius: 2px;
    }
  }

  .navbar1 {
    margin-left: 5rem;
  }
  /*  header ends*/

  /* backdrop */
  .th-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #00000080;
    z-index: 950;
  }

  /* side drawer */
  .th-sidedrawer-web,
  .th-sidedrawer-mob {
    font-weight: 500;
    height: 100%;
    
    
    background: orangered;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 970;
    transition: transform 0.6s ease-out;
  }

  .th-sidedrawer-web {
    right: 0;

    max-width: 100vw;
    transform: translateX(100%);
  }

  .th-sidedrawer-mob {
    right: 0;
    max-width: 100vw;
    transform: translateX(100%);
  }

  .th-sidedrawer-web.open,
  .th-sidedrawer-mob.open {
    transform: translateX(0%);
  }

  .th-sidebar-list-item {
    text-align: center;
    
    
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 28px;
    color: #ffffff;
  }

  .th-sidebar-list-item1 {
    display: flex;
  }

  .th-sidebar-arrow,
  .th-sidebar-icon {
    color: #444444;
    opacity: 0.8;
  }

  .th-sidebar-links {
    bottom: 2.5%;
    position: absolute;
    width: 100%;
  }

  @media only screen and (max-width: 768px) {
    .th-sidebar-list-item {
      font-size: 20px;
      margin-bottom: 5px;
    }
  }

  @media only screen and (max-width: 320px) {
    .th-sidebar-list-item {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
  /* side bar ends */

  .active p {
    color:rgb(8, 208, 248);
    font-weight: bold;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration:underline;
    text-decoration-color:rgb(8, 208, 248);;
   
  } 