.event-partner-card-container{
    background: #FAFAFA;
    box-shadow: 1.30452px 1.30452px 2.60905px rgba(102, 51, 170, 0.2), -1.30452px -1.30452px 4.56583px rgba(255, 255, 255, 0.7);
    border-radius: 7px;
}