.memberCard {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  width: 21%;
}

.memberImage {
  margin-bottom: 1rem;
}

.memberImage img {
  width: 100%;
}

.name h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  /* line-height: 29px; */
  /* identical to box height */
  text-align: center;
  color: #000000;
}

.position h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  /* line-height: 24px; */
  text-align: center;
  color: rgba(34, 34, 34, 0.7);
}

.description p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  /* line-height: 24px; */
  text-align: justify;
  color: #222222;
}
