.partnerPageMob {
  width: 100%;
  margin: auto;
  position: relative;
}
.backpartmob{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90vh;
  filter: brightness(60%);
  z-index: -10000;
}
.patronagemob{
  width: 80%;
  margin: auto;
}
.partimgmob{
  display: flex;
  justify-content: center;
}
.hpartmob{
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
}
.hpartmob>h1{
  font-family: Mulish;
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  line-height: 99%;
  background: linear-gradient(184deg, #FFF 3.29%, #5DC1C2 176.52%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.partcontentmob{
  color: #FFF;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.associateMob {
  width: 100%;
  margin: auto;
}

.sponsorsMob .logo2Mob {
  width: 100%;
  margin: auto;
}

.logo2Mob {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sponsorsMob .logo3Mob {
  width: 100%;
  margin: auto;
}

.onlinePartnerMob .logo3Mob {
  width: 80%;
  margin: auto;
}

.logo3Mob {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo4Mob {
  justify-content: space-around;
}

.headingMob {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  /* line-height: 44px; */
  /* identical to box height */
  text-align: center;
  color: #4f4f4f;
}

@media (max-width:840px){
  .rightimgmob{
    width: 100%;
  }
  .patronagemob{
    width: 90%;
  }
  .hpartmob>h1{
    font-size: 25px;
  }
  .partcontentmob{
    font-size: 15px;
  }
}