.committe_card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* height: 30%; */
  width: 44%;
}

.committeImage img {
  /* displ/ay: inline-block; */
  width: 18rem;
}

.committeImage {
  margin: 0 auto;
}

.para {
  /* width: 40%; */
  margin: auto;
}

.para p {
  font-size: 1rem;
  text-align: center;
}
