.container {
    background: #ffffff;
    box-shadow: 2px 2px 4px rgba(102, 58, 163, 0.25);
    border-radius: 10px;
  }

  

  hr.solid {
    border-top: 2px solid;
    border-color : #8561B5;
    margin : 0.2rem
}
  
  @media screen and (max-width: 760px) {
     #dcol{
       height:20vh !important;
     }
     #col-1 {
      font-family: Raleway;
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 30px;
      padding: 5px;
    }
    #col-2 {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
    }
    #col-3 {
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 30px;
      text-align: right;
      color: purple;
    }
  }
  @media screen and (min-width: 760px) {
    #dcol{
      height:40vh;
    }
    #cp{
     padding: 20px;
    }
    #col-1 {
      padding-top: 1rem;
      font-family: Raleway;
      font-style: normal;
      font-weight: 600;
      font-size: 2.7rem;
      line-height: 2.9rem;
    }
    #col-2 {
  
      padding-top: 15px;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 25px;
    }
    #col-3 {
  
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 60px;
      line-height: 65px;
      text-align: right;
      color: purple;
    }
  
  }
  #row-2{
    height:50vh;
   } 