.mobile-heading{
    
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.2rem;
    /* or 30px */

    letter-spacing: 0.025em;

    color: #444444;
}

.dropdown{
    
   
}