.img-container{
    /* background-color: purple; */
    /* border:1px solid purple; */
    width: 16vw;
    /* background-color:black; */
    cursor: pointer;
    height: 40vh;
    margin-right: 1em;
    overflow: hidden;
}
.img-container::after{
    filter: blur(20px);
}
.img-container:hover .info{
    /* transition-delay: 0.5s; */
    opacity: 1;
}
.img-container:hover{

    /* transition-delay: 0.5s; */
    /* margin-right: 4em;
    margin-left: 4em; */
    
}
.timgs{
    transition: transform .5s ease;
}
.img-container:hover .timgs{
    /* transition-delay: 0.5s; */
    /* transition:width 0.5s; */
    transform: scale(1.2);
    /* filter: grayscale(0);
    background-color: purple;
    box-shadow: 10px 10px inset; */
}

.timgs{
    width: 16vw;
    height: 40vh;
    /* filter:grayscale(100%) */
}
.info{
    width: 16vw;
    /* height: 10vh; */
    position: absolute;
    bottom: 0px;
    /* margin-left: 5px; */
    opacity: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* left:5px; */
    /* border: 1px solid red; */
}


@media only screen and (width<=720px) {
    .img-container{
        /* border: 2px solid black; */
        width: 80vw;
        margin-bottom: 0em;
    }
    .timgs{
        /* border: 1px solid black; */
        width: 80vw;
        height: 40vh;
        filter: grayscale(0);
        z-index: -1;
    }
    .img-container:hover .timgs{
        transform: none;
        
        /* background-color: purple;
        box-shadow: 10px 10px inset; */
    }
    .img-container:hover{
        margin-right: 0px;
        margin-left: 0px;
    }
    .info{
        /* border: 1px solid red; */
        width: 78vw; 
        /* position:unset; */
        /* filter: blur(20%); */
        z-index: 10;
        position: relative;
        bottom: 2.4em;
        justify-content: left;
        
        /* padding:10vh; */
        
        opacity: 1;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */


        /* CP/White */

        color: #FCFCFC;
    }
    /* .contents{
        margin-top: 10em;
    } */
    
    
}



