.img-container{
    /* background-color: purple; */
    /* border:1px solid purple; */
    width: 16vw;
    background-color:black;
    cursor: pointer;
    height: 50vh;
    margin-right: 2em;
}
.img-container::after{
    filter: blur(20px);
}
.img-container:hover .info{
    opacity: 1;
}
.img-container:hover{
    margin-right: 4em;
    margin-left: 4em;
}
.img-container:hover .timgs{
    transform: scalex(1.2);
    filter: grayscale(0);
    background-color: purple;
    box-shadow: 10px 10px inset;
}

.timgs{
    width: 16vw;
    height: 50vh;
    filter:grayscale(100%)
}
.info{
    width: 16vw;
    /* height: 10vh; */
    position: absolute;
    bottom: 0px;
    margin-left: 5px;
    opacity: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* left:5px; */
    /* border: 1px solid red; */
}



