.speaker-container{
    height: 60vh;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
}
.speakercontent{
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin-left: 4em;
}
.hd{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: rgba(34, 73, 90, 1);
}

.imgbox2{
    /* border: 1px solid blue; */
    position: absolute;
    /* left: 10vw; */
    margin-left: 20em;
    width: 80vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
}