.card-container{
    /* border: 1px solid black; */
    height: 45vh;
    width: 17vw;
    background: #FCFCFC;
    box-shadow: 2px 3px 12px 2px rgba(0, 0, 0, 0.08);
    
}
.card-container:hover{
    
    background: #FD652D;
    opacity: 0.9;
    /* transform: rotate(-180deg); */
}
.card-container:hover .cardimg{
    
    display: none;
}
.card-container:hover .cardinfo{
    
    display: none;
}
.cardinfo{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 0px 10px 10px;
    height: 20vh;
    margin-top:2em;
}
.cardinfo h5{
    /* margin-top: 0px; */
    margin-bottom: 1em;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
/* identical to box height */


/* CP/Blue */

color: #22495A;
}
.Rlink2{
    text-decoration: none;
    color: black;
}
.cardinfo p{
    margin-bottom: 1em;
    text-align: justify;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */

    text-align: justify;

    color: #666666;
}

#p2{

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */

    text-align: justify;

    /* CP/Orange */

    color: #FD652D;
}
#p2 span{
    color:black
}

.hoverbox{
    padding-top: 10vh;
    padding-left: 1vw;
    height: 45vh;
    display: none;
}
.card-container:hover .hoverbox{
    
    display: flex;
    flex-direction: column;
    /* justify-content:space-around; */
}

#hoverbtn1{
    width: 15vw;
    margin-bottom: 1em;
    box-sizing: border-box;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    /* align-items: center; */
    padding: 8px 15px;
    gap: 8px;

    background: #FCFCFC;
/* CP/White */

    border: 1px solid #FCFCFC;
    /* drop-shadow/button-primary */

    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
}
#hoverbtn2{
    width: 15vw;
    box-sizing: border-box;
    margin-bottom: 1em;

/* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    gap: 8px;

    border: 1px solid #FCFCFC;
    color: white;
    background-color: #FD652D;
}

#hoverbtn3{
    width: 15vw;
    box-sizing: border-box;
    margin-bottom: 1em;
    color:white;
    background-color: #FD652D;
    border: 1px solid #FD652D;

/* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    gap: 8px;

}

@media only screen   and (width<=720px) {
    .card-container{
        width: 79vw;
        height: 45vh;
    }
    .card-container:hover  .hoverbox{
        flex-direction: row;
    }
    .card-container:hover .cardimg{
        display: block;
    }
    .card-container:hover .cardinfo{
        display: flex;
    }
    .card-container:hover{
        background-color: white;
    }
    .cardimg{
        width: 79vw;
    }
    .hoverbox{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 79vw;
        height: 8em;
        position: relative;
        bottom: 6em;
    }
    #hoverbtn3{
        display: none;
    }
    /* .btns{
        height: 3em;
        width: 15em;
    } */
    #hoverbtn1{
        box-sizing: border-box;
        width: 7em;

/* Auto layout */

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 15px;
        gap: 8px;
        background: #FD652D;
        /* CP/Orange */

        border: 1px solid #FD652D;
        /* drop-shadow/button-primary */

        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
        border-radius: 2px;
    }
    #hoverbtn2{
        width: 7em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 15px;
        gap: 8px;

        border: 1px solid #FD652D;
        background-color: white;
        color: #FD652D;
        border-radius: 2px;
    }
}
