.profile-container{
    height : 100%,
}

.points{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: right;

    color: #663AA3;

}

.current-points{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #444444;
}