/* shadow-effect {
  background: #000;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #ECECEC;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10), 0 15px 12px rgba(0, 0, 0, 0.02);
} */
.testimonials{
  margin-top: -45vh;
  font-family: 'Mulish', sans-serif; 
  padding-bottom: 60px;

}

.text-center {
  color: #0886bb;
  font-size: 40px;
  font-weight: 700;
  margin-top: 6%;
}


.testi-container{
  align-items: center;
  display: flex;
  justify-content: center;
}



#customer-testimonoals {
  margin-top: 2%;
  margin-left: -1%;
  width: 109vw;
}



.test-name {
  margin-top: 0.5rem;
  font-family: 'Mulish', sans-serif; 
  margin-bottom: 0;
}

.test-post {
  margin-top: 0;
  color: #22495A;
  font-family: 'Mulish', sans-serif; 
}

#customer-testimonoals .item {
  text-align: center;
  padding: 50px;
  margin-bottom: 40px;
  opacity: 0.15;
  transform: scale3d(0.8, 0.8, 1);
  width: 62vw;
  transition: all 0.3s ease-in-out;
}

#customer-testimonoals .owl-item.active.center .item {
  opacity: 1;
  /* margin-left: -20vw; */
  transform: scale3d(1.0, 1.0, 1);
}

.owl-carousel .owl-dots {
  display: flex;
  margin-top: 60px;
  opacity: 1;
  justify-content: center;
  align-items: center;
  width:110vw;
}

.owl-carousel .owl-dots .owl-dot {
  margin: 0 5px;
}

.owl-carousel .owl-dots .owl-dot span {
  background: #fcfaf9;
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  transition: all 250ms ease-out;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #0886bb;
  transform: scale(1.3); /* Adjust the scale factor as needed */
}

@media (max-width: 768px) {
  body{
    overflow-x: hidden; 
  }
  #customer-testimonoals {
    margin-top: 2%;
    margin-left: -1%;
    width: 100vw;
  }
  #customer-testimonoals .item {
    text-align: center;
    padding: 50px;
    margin-bottom: 40px;
   
    opacity: 0.15;
    transform: scale3d(0.8, 0.8, 1);
    width: 80vw;
    transition: all 0.3s ease-in-out;
  }
}