.item {
    display: flex;
    width:70vw;
    flex-direction: row;
    padding: 10px 5px !important;
    /* transform:rotateZ(-270deg); */
    height: auto;
}


  .item.active.center {
    opacity: 1;
    z-index: 10000; /* Set full opacity for the center item */
  }


.testimonial-name p{
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6rem;
  font-family: ""Mulish"";

}

.test-name{
    color: #22495A;
    font-weight: 400;
    padding: 20px 30px;
    background-color: white;
  font-family: ""Mulish"";
    
    font-size: 20px;

}
.test-post{
    color: #22495A !important;
    font-weight: normal !important;
  font-family: ""Mulish"" !important;

}
.testimonial-item-left{
    width: 80%;
    margin-left: 20px;
    margin-right: 10px;
    font-family: 'Lato', sans-serif;
font-style: normal;
}

.testimonial-item-left p{
    font-family: 'Lato', sans-serif;
font-size: 17px;

}