.item{
    display: flex;
    width:60vw;
    margin-left:-20vw;
    flex-direction: column;
    padding: 10px 5px !important;
    transform:rotateZ(-270deg);
    height: auto;
}

.testimonial-name p{
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6rem;
}

.test-name{
    color: #22495A;
    font-weight: 400;
    padding: 20px 30px;
    background-color: white;
    font-size: 20px;

}
.test-post{
    color: #22495A !important;
    font-weight: normal !important;
}
