.ss-homepage-top{
    overflow: hidden;
}


.ss-homepage-top{
    overflow: hidden;
}

.ss-homepage-Contact{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px; 
}
.ss-homepage-Contact-bottomborder{
    display: block;
    position: relative;
    width: 97px;
    bottom: 3px;
    border-bottom: 3px solid black;
    left: -2%;
}
.ss-homepage-logo{
    height: 100px;
    width: 500px;
}

.ss-homepage-Tag{
    padding-left: 25%;
    padding-top:25% ;
    font-size: 30px;
}
.ss-homepage-Tag2{
    font-size: 30px;
}
.ss-homepage-borderleft{
    position: relative;
    top:6%;
    border-left: 3px solid black;
    height: 280px;
}

.inputplace1{
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 10px;
    color: #663AA3;
    background: #F3EBFF;
    height: 60px;
    
    width: 98%;
    margin-top: 3%;
    border-width: 0px;
    padding-left: 10px;
}
.inputplace2{
    margin-left: 1%;
    /* margin-right: 1%; */
    border-radius: 10px;
    color: #663AA3;
    background: #F3EBFF;
    height: 200px;
  
    width: 98%;
    padding-bottom: 160px;
    border-width: 0px;
    padding-left: 12px;
}
.ss-homepage-btn1{
    position: absolute;
    margin-top: 2%;
    margin-left: 1%;
    width: 187px;
    height: 43px;
    color: #F3EBFF;
    background: #663AA3;
    box-shadow: inset 2px -2px 4px rgba(0, 0, 0, 0.25);
    border-width: 0px;
    border-radius: 10px;
    }
.ss-homepage-horizontalline{
    border-bottom: 2px solid #DDDDDD;
    position: relative;
    left: 800px;
    top: 20px;
    width: 50%;
}
.ss-homepage-find{
    font-size: 30px;
    font-weight: 500;
    color: #222222;
    padding-top: 6%;
   
}
.ss-homepage-find-bottomborder{
    display: block;
    position: relative;
    width: 67px;
    bottom: -5px;
    
    left:30%;
    border-bottom: 2px solid black;
} 