.perks-container{
    padding: 3rem;
}

.perks-container-header{

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
    
    color: #222222;
    margin: 2rem;

}

.perks-list-container{
    
}