.mobile-checkbox-container{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.2rem;

    color: #444444;
}

.mobile-checkbox-container input{
    margin : 0.5rem
}

.mobile-choose-event-register-button{
    background: #663AA3;
    padding-left : 1rem;
    padding-right: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius : 8px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: center;
    color: #FFFFFF;
    box-shadow: inset -1px -1px 4px rgba(0, 0, 0, 0.25), inset 1px 1px 4px rgba(255, 255, 255, 0.25);

}

.mobile-choose-event-container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    height: 100%
}
